.profile-page {
    min-height: 100vh;
    background: #111;
    color: white;
    padding: 70px 0;
}

.profile-card {
    max-width: 720px;
    margin: 0 auto;
    background: #1c1c1c;
    padding: 45px;
    border-radius: 24px;
}

.profile-card h1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 46px;
    font-weight: 800;
}

.profile-info {
    margin-bottom: 35px;
}

.profile-row {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.profile-row span {
    color: #aaa;
}

.promo-box {
    margin-bottom: 35px;
}

.promo-box h3 {
    margin-bottom: 18px;
}

.promo-box input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #2a2a2a;
    color: white;
    margin-bottom: 14px;
}

.promo-card {
    margin-bottom: 16px;
}

.profile-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.profile-buttons button {
    flex: 1;
    min-height: 50px;
}

.my-promos{
    margin-top:25px;
}

.promo-card{
    background:#232323;
    border-radius:18px;
    padding:18px;
    margin-bottom:14px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.section-divider{
    height:1px;
    background:rgba(255,255,255,.08);
    margin:35px 0;
}

.orders-box h3{
    margin-bottom:18px;
}

.order-card{
    background:#232323;
    border-radius:18px;
    padding:18px;
    margin-bottom:14px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.order-left{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.order-left small{
    color:#aaa;
    font-size:14px;
}

.status{
    padding:8px 14px;
    border-radius:14px;
    font-size:13px;
    font-weight:700;
    text-transform:uppercase;
}

.status.Pending{
    background:#444;
}

.status.Approved{
    background:#2e7d32;
}

.status.Rejected{
    background:#c62828;
}

/* PHONE */

@media (max-width: 767px) {

    .profile-card {
        padding: 25px;
    }

    .profile-card h1 {
        font-size: 34px;
    }

    .profile-row {
        flex-direction: column;
        gap: 8px;
    }

    .profile-buttons {
        flex-direction: column;
    }

}